@font-face {
  font-family: Irish;
  font-display: swap;
  src: url("../fonts/IrishGrover-Regular.woff2") format("woff2"), url("../fonts/IrishGrover-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Irish";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Irish";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  touch-action: pan-x pan-y;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
}
body._hold {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: url("../img/other/bg.jpg") center/cover no-repeat;
}
.wrapper._visible {
  display: flex;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  background: url("../img/icons/button.png") center/contain no-repeat;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
@supports (width: clamp( 13.75rem , 2.75rem  +  32vw , 18.75rem )) {
  .button {
    width: clamp( 13.75rem , 2.75rem  +  32vw , 18.75rem );
  }
}
@supports not (width: clamp( 13.75rem , 2.75rem  +  32vw , 18.75rem )) {
  .button {
    width: calc(13.75rem + 5 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 5rem , 0.1875rem  +  14vw , 7.1875rem )) {
  .button {
    height: clamp( 5rem , 0.1875rem  +  14vw , 7.1875rem );
  }
}
@supports not (height: clamp( 5rem , 0.1875rem  +  14vw , 7.1875rem )) {
  .button {
    height: calc(5rem + 2.1875 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (width: clamp( 20rem , 10rem  +  20vw , 25rem )) {
    .button {
      width: clamp( 20rem , 10rem  +  20vw , 25rem );
    }
  }
  @supports not (width: clamp( 20rem , 10rem  +  20vw , 25rem )) {
    .button {
      width: calc(20rem + 5 * (100vw - 50rem) / 25);
    }
  }
  @supports (height: clamp( 7.1875rem , 2.8125rem  +  8.75vw , 9.375rem )) {
    .button {
      height: clamp( 7.1875rem , 2.8125rem  +  8.75vw , 9.375rem );
    }
  }
  @supports not (height: clamp( 7.1875rem , 2.8125rem  +  8.75vw , 9.375rem )) {
    .button {
      height: calc(7.1875rem + 2.1875 * (100vw - 50rem) / 25);
    }
  }
}
.button p {
  line-height: 1.21875;
  color: #034a3f;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  padding-left: 0.625rem;
}
@supports (font-size: clamp( 1.625rem , 0.8rem  +  2.4vw , 2rem )) {
  .button p {
    font-size: clamp( 1.625rem , 0.8rem  +  2.4vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.625rem , 0.8rem  +  2.4vw , 2rem )) {
  .button p {
    font-size: calc(1.625rem + 0.375 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (padding-top: clamp( 1rem , -0.5125rem  +  4.4vw , 1.6875rem )) {
  .button p {
    padding-top: clamp( 1rem , -0.5125rem  +  4.4vw , 1.6875rem );
  }
}
@supports not (padding-top: clamp( 1rem , -0.5125rem  +  4.4vw , 1.6875rem )) {
  .button p {
    padding-top: calc(1rem + 0.6875 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (font-size: clamp( 2.125rem , 0.625rem  +  3vw , 2.875rem )) {
    .button p {
      font-size: clamp( 2.125rem , 0.625rem  +  3vw , 2.875rem );
    }
  }
  @supports not (font-size: clamp( 2.125rem , 0.625rem  +  3vw , 2.875rem )) {
    .button p {
      font-size: calc(2.125rem + 0.75 * (100vw - 50rem) / 25);
    }
  }
  @supports (padding-top: clamp( 1.25rem , 0rem  +  2.5vw , 1.875rem )) {
    .button p {
      padding-top: clamp( 1.25rem , 0rem  +  2.5vw , 1.875rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0rem  +  2.5vw , 1.875rem )) {
    .button p {
      padding-top: calc(1.25rem + 0.625 * (100vw - 50rem) / 25);
    }
  }
}
.button:active {
  transform: scale(0.97);
}
.button._hold {
  opacity: 0.5;
  pointer-events: none;
}

.preloader {
  background: url("../img/other/bg.jpg") center/cover no-repeat;
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.preloader__acces {
  flex: 0 1 63%;
}
.preloader__content {
  flex: 0 1 37%;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
}
.preloader__heroes {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.preloader__heroe {
  position: absolute;
}
@media (min-height: 37.5em) {
  .preloader__heroe {
    transform: scale(1.5);
  }
}
.preloader__heroe_1 {
  bottom: 0;
  left: -4.0625rem;
  z-index: 1;
}
@media (min-height: 37.5em) {
  .preloader__heroe_1 {
    bottom: 5rem;
  }
}
.preloader__heroe_2 {
  bottom: -1.875rem;
  left: 7.5rem;
  z-index: 2;
}
@media (min-height: 37.5em) {
  .preloader__heroe_2 {
    bottom: 1.875rem;
    left: 11.25rem;
  }
}
.preloader__button {
  position: relative;
  z-index: 3;
  transform: translateX(200px);
  opacity: 0;
  animation: fly_button 1.6s ease forwards 0.6s;
}
.preloader._hide {
  display: none;
}

.acces-preloader {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 100vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: auto;
  margin-right: auto;
  padding: 1.25rem 4.0625rem 0 1.25rem;
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.75rem;
}

.text-pre {
  font-size: 0.9375rem;
  line-height: 1.2;
  color: #fff;
}
@media (min-height: 37.5em) {
  .text-pre {
    font-size: 2.125rem;
  }
}

.title {
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  color: #e6f9ff;
  -webkit-text-stroke: 1px #7448F1;
  text-shadow: 0px 4px 6px rgba(67, 131, 255, 0.61), 0px 2px 0px rgba(0, 0, 0, 0.25);
}
@supports (font-size: clamp( 2.25rem , 0.6634615385rem  +  4.6153846154vw , 4.125rem )) {
  .title {
    font-size: clamp( 2.25rem , 0.6634615385rem  +  4.6153846154vw , 4.125rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 0.6634615385rem  +  4.6153846154vw , 4.125rem )) {
  .title {
    font-size: calc(2.25rem + 1.875 * (100vw - 34.375rem) / 40.625);
  }
}

.block-bet {
  width: 100%;
}
.block-bet._hold {
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__title {
  font-family: "Intro";
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #ffffff;
}
@media (min-height: 37.5em) {
  .block-bet__title {
    font-size: 1.25rem;
  }
}
.block-bet__count-row {
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.block-bet__controls {
  min-height: 1.75rem;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  column-gap: 0.3125rem;
}
@media (min-height: 37.5em) {
  .block-bet__controls {
    min-height: 3.125rem;
  }
}
.block-bet__controls._hold {
  transition: all 0.6s ease 0s;
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__min, .block-bet__max {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}
.block-bet__min:active, .block-bet__max:active {
  transform: translateY(2px);
}
.block-bet__minus, .block-bet__plus {
  min-height: 100%;
  background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.block-bet__bet {
  min-height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.9375rem;
  background: linear-gradient(90.39deg, #24282c 4.37%, #272e32 102.11%);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #32373a;
  border-radius: 0.25rem;
  margin-bottom: 0.3125rem;
}
@media (min-height: 37.5em) {
  .block-bet__bet {
    min-height: 3.75rem;
  }
}
.block-bet__coins {
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #fff;
}
.block-bet__coins._no-money {
  animation: no-money 0.5s ease 2;
}

.check._no-money {
  animation: no-money 0.5s ease 2;
}
.check._delete-money {
  animation: delete-money 0.5s ease;
}
.check._anim-add-money {
  animation: add-money 0.5s ease 2;
}

.money {
  display: flex;
  justify-content: center;
}
@supports (height: clamp( 1.875rem , 0.8173076923rem  +  3.0769230769vw , 3.125rem )) {
  .money {
    height: clamp( 1.875rem , 0.8173076923rem  +  3.0769230769vw , 3.125rem );
  }
}
@supports not (height: clamp( 1.875rem , 0.8173076923rem  +  3.0769230769vw , 3.125rem )) {
  .money {
    height: calc(1.875rem + 1.25 * (100vw - 34.375rem) / 40.625);
  }
}
@supports (width: clamp( 8.125rem , 3.3653846154rem  +  13.8461538462vw , 13.75rem )) {
  .money {
    width: clamp( 8.125rem , 3.3653846154rem  +  13.8461538462vw , 13.75rem );
  }
}
@supports not (width: clamp( 8.125rem , 3.3653846154rem  +  13.8461538462vw , 13.75rem )) {
  .money {
    width: calc(8.125rem + 5.625 * (100vw - 34.375rem) / 40.625);
  }
}
.money__body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
.money__row {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1.5625rem;
}
@supports (column-gap: clamp( 0.25rem , -0.575rem  +  2.4vw , 0.625rem )) {
  .money__row {
    column-gap: clamp( 0.25rem , -0.575rem  +  2.4vw , 0.625rem );
  }
}
@supports not (column-gap: clamp( 0.25rem , -0.575rem  +  2.4vw , 0.625rem )) {
  .money__row {
    column-gap: calc(0.25rem + 0.375 * (100vw - 34.375rem) / 15.625);
  }
}
.money__coins {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  color: #ffffff;
}
@supports (font-size: clamp( 1.25rem , 0.7211538462rem  +  1.5384615385vw , 1.875rem )) {
  .money__coins {
    font-size: clamp( 1.25rem , 0.7211538462rem  +  1.5384615385vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.7211538462rem  +  1.5384615385vw , 1.875rem )) {
  .money__coins {
    font-size: calc(1.25rem + 0.625 * (100vw - 34.375rem) / 40.625);
  }
}

.icon-anim img._anim-icon-jump {
  animation: jump_icon 5s ease;
}
.icon-anim img._anim-icon-scale {
  animation: scale_icon 0.5s ease 2;
}
.icon-anim img._anim-icon-rotate {
  animation: rotate_icon 1.5s ease-out 1;
}

.text {
  line-height: 1.1363636364;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
}
@supports (font-size: clamp( 1rem , 0.175rem  +  2.4vw , 1.375rem )) {
  .text {
    font-size: clamp( 1rem , 0.175rem  +  2.4vw , 1.375rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.175rem  +  2.4vw , 1.375rem )) {
  .text {
    font-size: calc(1rem + 0.375 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-width: 40.625em) {
  .text {
    -webkit-text-stroke: 1px #000;
  }
}

.main__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  padding: 0.9375rem;
}
.main__content {
  flex: 1 1 auto;
}

.content-main {
  display: flex;
}
.content-main__body {
  min-height: 100%;
  width: 100%;
  display: flex;
}
.content-main__board {
  flex: 0 1 60%;
}
.content-main__actions {
  flex: 0 1 40%;
}

.board-main__body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.board-main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.board-main__bg img {
  position: absolute;
  top: 0rem;
  left: -1.875rem;
  max-width: 110%;
}
@media (min-height: 37.5em) {
  .board-main__bg img {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.board-main__heroes {
  display: flex;
  justify-content: center;
  column-gap: 1.5625rem;
  position: relative;
  top: -1.875rem;
}
.board-main__heroe {
  position: relative;
}
@supports (width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem )) {
  .board-main__heroe {
    width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem );
  }
}
@supports not (width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem )) {
  .board-main__heroe {
    width: calc(6.25rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 6.6875rem , 2.5625rem  +  12vw , 8.5625rem )) {
  .board-main__heroe {
    height: clamp( 6.6875rem , 2.5625rem  +  12vw , 8.5625rem );
  }
}
@supports not (height: clamp( 6.6875rem , 2.5625rem  +  12vw , 8.5625rem )) {
  .board-main__heroe {
    height: calc(6.6875rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
.board-main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.board-main__image img {
  max-width: 100%;
}
.board-main__man {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.board-main__man img {
  max-width: 100%;
}
.board-main__weapon-item {
  position: absolute;
  bottom: 0;
  right: 0;
}
@supports (width: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .board-main__weapon-item {
    width: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem );
  }
}
@supports not (width: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .board-main__weapon-item {
    width: calc(2.8125rem + 1 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .board-main__weapon-item {
    height: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem );
  }
}
@supports not (height: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .board-main__weapon-item {
    height: calc(2.8125rem + 1 * (100vw - 34.375rem) / 15.625);
  }
}
.board-main__weapon-image {
  height: 100%;
}
.board-main__weapon-image img {
  max-width: 100%;
}
.board-main__sword {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 75%;
  transform: translate(-50%, -50%);
}
.board-main__sword img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.board-main__buttons {
  display: flex;
  column-gap: 0.625rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-height: 37.5em) {
  .board-main__buttons {
    bottom: 1.875rem;
    left: 6.25rem;
  }
}
@media (min-height: 50em) {
  .board-main__buttons {
    bottom: 4.375rem;
    left: 9.375rem;
  }
}
.board-main__button {
  position: relative;
  width: 5.125rem;
  height: 5.25rem;
}
.board-main__button img:first-child {
  max-width: 100%;
}
.board-main__button img:last-child {
  position: absolute;
  top: 43%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.board-main__button picture {
  width: 5.125rem;
  height: 5.25rem;
}
.actions-main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
@media (min-height: 37.5em) {
  .actions-main__body {
    row-gap: 3.125rem;
  }
}
.actions-main__evils {
  display: flex;
  justify-content: center;
  column-gap: 0.625rem;
}
.actions-main__evil {
  position: relative;
}
@supports (width: clamp( 3.125rem , 1.3375rem  +  5.2vw , 3.9375rem )) {
  .actions-main__evil {
    width: clamp( 3.125rem , 1.3375rem  +  5.2vw , 3.9375rem );
  }
}
@supports not (width: clamp( 3.125rem , 1.3375rem  +  5.2vw , 3.9375rem )) {
  .actions-main__evil {
    width: calc(3.125rem + 0.8125 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 3.3125rem , 1.525rem  +  5.2vw , 4.125rem )) {
  .actions-main__evil {
    height: clamp( 3.3125rem , 1.525rem  +  5.2vw , 4.125rem );
  }
}
@supports not (height: clamp( 3.3125rem , 1.525rem  +  5.2vw , 4.125rem )) {
  .actions-main__evil {
    height: calc(3.3125rem + 0.8125 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (width: clamp( 5rem , 2.125rem  +  5.75vw , 6.4375rem )) {
    .actions-main__evil {
      width: clamp( 5rem , 2.125rem  +  5.75vw , 6.4375rem );
    }
  }
  @supports not (width: clamp( 5rem , 2.125rem  +  5.75vw , 6.4375rem )) {
    .actions-main__evil {
      width: calc(5rem + 1.4375 * (100vw - 50rem) / 25);
    }
  }
  @supports (height: clamp( 5.1875rem , 2.3125rem  +  5.75vw , 6.625rem )) {
    .actions-main__evil {
      height: clamp( 5.1875rem , 2.3125rem  +  5.75vw , 6.625rem );
    }
  }
  @supports not (height: clamp( 5.1875rem , 2.3125rem  +  5.75vw , 6.625rem )) {
    .actions-main__evil {
      height: calc(5.1875rem + 1.4375 * (100vw - 50rem) / 25);
    }
  }
}
.actions-main__box img {
  max-width: 100%;
}
.actions-main__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.actions-main__image img {
  max-width: 60%;
  padding-bottom: 0.625rem;
}
.actions-main__image picture {
  display: flex;
  justify-content: center;
}
.levels__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.levels__arrow {
  transition: all 0.3s ease 0s;
}
@supports (width: clamp( 3.4375rem , 0.6875rem  +  8vw , 4.6875rem )) {
  .levels__arrow {
    width: clamp( 3.4375rem , 0.6875rem  +  8vw , 4.6875rem );
  }
}
@supports not (width: clamp( 3.4375rem , 0.6875rem  +  8vw , 4.6875rem )) {
  .levels__arrow {
    width: calc(3.4375rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 3.4375rem , 0.6875rem  +  8vw , 4.6875rem )) {
  .levels__arrow {
    height: clamp( 3.4375rem , 0.6875rem  +  8vw , 4.6875rem );
  }
}
@supports not (height: clamp( 3.4375rem , 0.6875rem  +  8vw , 4.6875rem )) {
  .levels__arrow {
    height: calc(3.4375rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.levels__arrow:active {
  transform: scale(0.9);
}
.levels__arrow_left {
  background: url("../img/icons/arrow-left.png") center/contain no-repeat;
}
.levels__arrow_right {
  background: url("../img/icons/arrow-right.png") center/contain no-repeat;
}
.levels__middle {
  background: url("../img/icons/circle.png") center/contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (width: clamp( 5.375rem , 1.25rem  +  12vw , 7.25rem )) {
  .levels__middle {
    width: clamp( 5.375rem , 1.25rem  +  12vw , 7.25rem );
  }
}
@supports not (width: clamp( 5.375rem , 1.25rem  +  12vw , 7.25rem )) {
  .levels__middle {
    width: calc(5.375rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 5.5625rem , 1.4375rem  +  12vw , 7.4375rem )) {
  .levels__middle {
    height: clamp( 5.5625rem , 1.4375rem  +  12vw , 7.4375rem );
  }
}
@supports not (height: clamp( 5.5625rem , 1.4375rem  +  12vw , 7.4375rem )) {
  .levels__middle {
    height: calc(5.5625rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
.levels__middle p {
  line-height: 1.2;
  color: #ffffff;
  padding-bottom: 0.9375rem;
}
@supports (font-size: clamp( 2.25rem , 0.325rem  +  5.6vw , 3.125rem )) {
  .levels__middle p {
    font-size: clamp( 2.25rem , 0.325rem  +  5.6vw , 3.125rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 0.325rem  +  5.6vw , 3.125rem )) {
  .levels__middle p {
    font-size: calc(2.25rem + 0.875 * (100vw - 34.375rem) / 15.625);
  }
}

.team__body {
  padding: 1rem 1rem 0 1rem;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
@supports (width: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .header__button-box {
    width: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem );
  }
}
@supports not (width: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .header__button-box {
    width: calc(2.875rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .header__button-box {
    height: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem );
  }
}
@supports not (height: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .header__button-box {
    height: calc(2.875rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.button-home {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icons/arrow-left.png") center/contain no-repeat;
  animation: rotate-arrow 20s ease infinite;
}

.content-item__body {
  position: relative;
  min-height: calc(100vh - 82px);
  margin: 0 auto;
}
@supports (width: clamp( 31.25rem , 11.45rem  +  57.6vw , 40.25rem )) {
  .content-item__body {
    width: clamp( 31.25rem , 11.45rem  +  57.6vw , 40.25rem );
  }
}
@supports not (width: clamp( 31.25rem , 11.45rem  +  57.6vw , 40.25rem )) {
  .content-item__body {
    width: calc(31.25rem + 9 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (width: clamp( 43.75rem , 18.75rem  +  50vw , 56.25rem )) {
    .content-item__body {
      width: clamp( 43.75rem , 18.75rem  +  50vw , 56.25rem );
    }
  }
  @supports not (width: clamp( 43.75rem , 18.75rem  +  50vw , 56.25rem )) {
    .content-item__body {
      width: calc(43.75rem + 12.5 * (100vw - 50rem) / 25);
    }
  }
}
.content-item__header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}
@media (min-height: 37.5em) {
  .content-item__header {
    top: 4.375rem;
  }
}
.content-item__title {
  line-height: 1.21875;
  color: #ffffff;
  -webkit-text-stroke: 1.5px #000;
}
@supports (font-size: clamp( 1.625rem , 0.8rem  +  2.4vw , 2rem )) {
  .content-item__title {
    font-size: clamp( 1.625rem , 0.8rem  +  2.4vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.625rem , 0.8rem  +  2.4vw , 2rem )) {
  .content-item__title {
    font-size: calc(1.625rem + 0.375 * (100vw - 34.375rem) / 15.625);
  }
}
.content-item__icon {
  position: absolute;
  bottom: -0.625rem;
  right: 3.125rem;
}
@supports (max-width: clamp( 1.875rem , 0.0875rem  +  5.2vw , 2.6875rem )) {
  .content-item__icon img {
    max-width: clamp( 1.875rem , 0.0875rem  +  5.2vw , 2.6875rem );
  }
}
@supports not (max-width: clamp( 1.875rem , 0.0875rem  +  5.2vw , 2.6875rem )) {
  .content-item__icon img {
    max-width: calc(1.875rem + 0.8125 * (100vw - 34.375rem) / 15.625);
  }
}
.content-item__bg {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@supports (top: clamp( -3.125rem , 0.875rem  +  -8vw , -1.875rem )) {
  .content-item__bg {
    top: clamp( -3.125rem , 0.875rem  +  -8vw , -1.875rem );
  }
}
@supports not (top: clamp( -3.125rem , 0.875rem  +  -8vw , -1.875rem )) {
  .content-item__bg {
    top: calc(-1.875rem + -1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.content-item__bg img {
  max-width: 100%;
}
@media (min-height: 37.5em) {
  .content-item__bg {
    top: 0rem;
  }
}
.content-item__heroes {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  max-height: calc(100vh - 135px);
  overflow: auto;
  position: relative;
}
@media (min-height: 37.5em) {
  .content-item__heroes {
    top: 4.375rem;
    max-height: calc(100vh - 345px);
  }
}
.heroe-team {
  position: relative;
  z-index: 2;
}
.heroe-team._locked .heroe-team__body {
  padding-bottom: 1.5625rem;
}
.heroe-team._active .heroe-team__character {
  border: 3px solid rgba(245, 190, 190, 0.2);
  box-shadow: 0px 0px 5px rgba(245, 190, 190, 0.2), 0px 0px 10px rgba(245, 190, 190, 0.2), 0px 0px 15px rgba(245, 190, 190, 0.2), inset 0px 0px 15px rgba(245, 190, 190, 0.2);
}
.heroe-team._anim .heroe-team__button-box {
  animation: scale_button 0.4s ease-out 2;
}
.heroe-team._hold {
  pointer-events: none;
  opacity: 0.5;
}
.heroe-team__body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: flex-end;
  padding: 0rem 3.125rem;
}
.heroe-team__character {
  position: relative;
  border: 3px solid transparent;
  border-radius: 1.25rem;
  transition: all 0.3s ease 0s;
}
@supports (width: clamp( 6.25rem , 2.2625rem  +  11.6vw , 8.0625rem )) {
  .heroe-team__character {
    width: clamp( 6.25rem , 2.2625rem  +  11.6vw , 8.0625rem );
  }
}
@supports not (width: clamp( 6.25rem , 2.2625rem  +  11.6vw , 8.0625rem )) {
  .heroe-team__character {
    width: calc(6.25rem + 1.8125 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 6.875rem , 3.1625rem  +  10.8vw , 8.5625rem )) {
  .heroe-team__character {
    height: clamp( 6.875rem , 3.1625rem  +  10.8vw , 8.5625rem );
  }
}
@supports not (height: clamp( 6.875rem , 3.1625rem  +  10.8vw , 8.5625rem )) {
  .heroe-team__character {
    height: calc(6.875rem + 1.6875 * (100vw - 34.375rem) / 15.625);
  }
}
.heroe-team__box-locked {
  transform: translateX(-10px);
}
.heroe-team__box-locked img {
  max-width: 105%;
}
.heroe-team__box-hero img {
  max-width: 100%;
}
.heroe-team__hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroe-team__hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.heroe-team__weapons {
  display: flex;
  justify-content: center;
  column-gap: 0.625rem;
}
.heroe-team__weapons._opened {
  position: relative;
  bottom: 1.25rem;
}
.heroe-team__weapons._hold {
  pointer-events: none;
  opacity: 0.7;
}
@supports (width: clamp( 3.75rem , 1rem  +  8vw , 5rem )) {
  .heroe-team__weapon-locked {
    width: clamp( 3.75rem , 1rem  +  8vw , 5rem );
  }
}
@supports not (width: clamp( 3.75rem , 1rem  +  8vw , 5rem )) {
  .heroe-team__weapon-locked {
    width: calc(3.75rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.heroe-team__weapon-locked img {
  max-width: 100%;
}
.heroe-team__box-weapon {
  position: relative;
}
@supports (width: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
  .heroe-team__box-weapon {
    width: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem );
  }
}
@supports not (width: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
  .heroe-team__box-weapon {
    width: calc(3.125rem + 1.375 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
  .heroe-team__box-weapon {
    height: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem );
  }
}
@supports not (height: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
  .heroe-team__box-weapon {
    height: calc(3.125rem + 1.375 * (100vw - 34.375rem) / 15.625);
  }
}
.heroe-team__board {
  height: 100%;
}
.heroe-team__board img {
  max-width: 100%;
}
.heroe-team__sword {
  position: absolute;
  width: 70%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroe-team__sword img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.3125rem;
  left: 0;
  object-fit: contain;
}
.heroe-team__button-box {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
@supports (height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .heroe-team__button-box {
    height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem );
  }
}
@supports not (height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .heroe-team__button-box {
    height: calc(1.5625rem + 0.9375 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (bottom: clamp( -1.875rem , 1.125rem  +  -6vw , -0.9375rem )) {
  .heroe-team__button-box {
    bottom: clamp( -1.875rem , 1.125rem  +  -6vw , -0.9375rem );
  }
}
@supports not (bottom: clamp( -1.875rem , 1.125rem  +  -6vw , -0.9375rem )) {
  .heroe-team__button-box {
    bottom: calc(-0.9375rem + -0.9375 * (100vw - 34.375rem) / 15.625);
  }
}
.heroe-team__button-box._selected {
  pointer-events: none;
}
.heroe-team__button-box._selected .heroe-team__button-wing-left {
  left: -0.9375rem;
}
.heroe-team__button-box._selected .heroe-team__button-wing-right {
  right: -0.9375rem;
}
.heroe-team__button {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
}
.heroe-team__button:active {
  transform: scale(0.9);
}
.heroe-team__button p {
  position: relative;
  z-index: 4;
  line-height: 1.2142857143;
  color: #142e4a;
}
@supports (top: clamp( -0.5625rem , 0.2375rem  +  -1.6vw , -0.3125rem )) {
  .heroe-team__button p {
    top: clamp( -0.5625rem , 0.2375rem  +  -1.6vw , -0.3125rem );
  }
}
@supports not (top: clamp( -0.5625rem , 0.2375rem  +  -1.6vw , -0.3125rem )) {
  .heroe-team__button p {
    top: calc(-0.3125rem + -0.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (font-size: clamp( 0.5rem , -0.325rem  +  2.4vw , 0.875rem )) {
  .heroe-team__button p {
    font-size: clamp( 0.5rem , -0.325rem  +  2.4vw , 0.875rem );
  }
}
@supports not (font-size: clamp( 0.5rem , -0.325rem  +  2.4vw , 0.875rem )) {
  .heroe-team__button p {
    font-size: calc(0.5rem + 0.375 * (100vw - 34.375rem) / 15.625);
  }
}
.heroe-team__button-wing-left, .heroe-team__button-wing-right {
  position: absolute;
  top: 0;
  z-index: 2;
  max-width: 1.875rem;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.heroe-team__button-wing-left img, .heroe-team__button-wing-right img {
  max-width: 100%;
}
.heroe-team__button-wing-left {
  left: 0.9375rem;
}
.heroe-team__button-wing-right {
  right: 0.9375rem;
}
.heroe-team__button-middle {
  position: absolute;
  top: 0;
  z-index: 3;
  max-width: 100%;
}
@supports (left: clamp( 0.1875rem , -0.225rem  +  1.2vw , 0.375rem )) {
  .heroe-team__button-middle {
    left: clamp( 0.1875rem , -0.225rem  +  1.2vw , 0.375rem );
  }
}
@supports not (left: clamp( 0.1875rem , -0.225rem  +  1.2vw , 0.375rem )) {
  .heroe-team__button-middle {
    left: calc(0.1875rem + 0.1875 * (100vw - 34.375rem) / 15.625);
  }
}
.heroe-team__button-middle img {
  max-width: 100%;
}

.shop__body {
  padding: 1rem 1rem 0 1rem;
  min-height: 100vh;
}
.store {
  position: relative;
  z-index: 3;
}
.store__body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 82px);
}
.store__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store__button {
  background: url("../img/icons/button.png") center/contain no-repeat;
  filter: grayscale(1);
  transition: all 0.5s ease 0s;
}
@supports (width: clamp( 10rem , 0.65rem  +  27.2vw , 14.25rem )) {
  .store__button {
    width: clamp( 10rem , 0.65rem  +  27.2vw , 14.25rem );
  }
}
@supports not (width: clamp( 10rem , 0.65rem  +  27.2vw , 14.25rem )) {
  .store__button {
    width: calc(10rem + 4.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 5rem , 2.25rem  +  8vw , 6.25rem )) {
  .store__button {
    height: clamp( 5rem , 2.25rem  +  8vw , 6.25rem );
  }
}
@supports not (height: clamp( 5rem , 2.25rem  +  8vw , 6.25rem )) {
  .store__button {
    height: calc(5rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.store__button p {
  padding-left: 0.625rem;
}
@supports (padding-bottom: clamp( 0.625rem , -0.475rem  +  3.2vw , 1.125rem )) {
  .store__button p {
    padding-bottom: clamp( 0.625rem , -0.475rem  +  3.2vw , 1.125rem );
  }
}
@supports not (padding-bottom: clamp( 0.625rem , -0.475rem  +  3.2vw , 1.125rem )) {
  .store__button p {
    padding-bottom: calc(0.625rem + 0.5 * (100vw - 34.375rem) / 15.625);
  }
}
.store__button._active {
  filter: grayscale(0);
}
.store__button:active {
  transition: all 0.3s ease 0s;
  transform: scale(0.95);
}
.store__actions {
  flex: 1 1 auto;
  display: flex;
  min-height: 100%;
  margin: 0 3.125rem;
  position: relative;
}
.store__actions-item {
  max-height: calc(100vh - 182px);
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-height: 37.5em) {
  .store__actions-item {
    max-height: calc(100vh - 345px);
  }
}

.item-heroes {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
.item-heroes._hide {
  opacity: 0;
  visibility: hidden;
}
.item-heroes__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.125rem;
}
.item-heroes__block-wrapper:last-child {
  grid-column-start: span 3;
}
.item-heroes__block {
  position: relative;
  margin: 0 auto;
}
@supports (width: clamp( 7.5625rem , 4.8125rem  +  8vw , 8.8125rem )) {
  .item-heroes__block {
    width: clamp( 7.5625rem , 4.8125rem  +  8vw , 8.8125rem );
  }
}
@supports not (width: clamp( 7.5625rem , 4.8125rem  +  8vw , 8.8125rem )) {
  .item-heroes__block {
    width: calc(7.5625rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 7.8125rem , 5.0625rem  +  8vw , 9.0625rem )) {
  .item-heroes__block {
    height: clamp( 7.8125rem , 5.0625rem  +  8vw , 9.0625rem );
  }
}
@supports not (height: clamp( 7.8125rem , 5.0625rem  +  8vw , 9.0625rem )) {
  .item-heroes__block {
    height: calc(7.8125rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.item-heroes__block._active .item-heroes__hero {
  opacity: 1;
  visibility: visible;
}
.item-heroes__block._active .item-heroes__button-box {
  opacity: 1;
  visibility: visible;
}
.item-heroes__block._active .item-heroes__icon {
  opacity: 0;
  visibility: hidden;
}
.item-heroes__board {
  height: 100%;
}
.item-heroes__board img {
  max-width: 100%;
}
.item-heroes__icon {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-heroes__icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.item-heroes__hero {
  position: absolute;
  width: 70%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.item-heroes__hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.3125rem;
  left: 0;
  object-fit: contain;
}
.item-heroes__button-box {
  position: absolute;
  width: 100%;
  left: 52%;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
@supports (height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .item-heroes__button-box {
    height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem );
  }
}
@supports not (height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .item-heroes__button-box {
    height: calc(1.5625rem + 0.9375 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (bottom: clamp( -0.9375rem , 1.0625rem  +  -4vw , -0.3125rem )) {
  .item-heroes__button-box {
    bottom: clamp( -0.9375rem , 1.0625rem  +  -4vw , -0.3125rem );
  }
}
@supports not (bottom: clamp( -0.9375rem , 1.0625rem  +  -4vw , -0.3125rem )) {
  .item-heroes__button-box {
    bottom: calc(-0.3125rem + -0.625 * (100vw - 34.375rem) / 15.625);
  }
}
.item-heroes__button-box:active {
  transform: translateX(-50%) scale(0.95);
}
.item-heroes__button-box._hide {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
.item-heroes__button-image img {
  max-width: 100%;
}
.item-heroes__button-price-box {
  position: absolute;
  top: 0.75rem;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3125rem;
}
@supports (max-width: clamp( 1.25rem , -0.125rem  +  4vw , 1.875rem )) {
  .item-heroes__button-price-box img {
    max-width: clamp( 1.25rem , -0.125rem  +  4vw , 1.875rem );
  }
}
@supports not (max-width: clamp( 1.25rem , -0.125rem  +  4vw , 1.875rem )) {
  .item-heroes__button-price-box img {
    max-width: calc(1.25rem + 0.625 * (100vw - 34.375rem) / 15.625);
  }
}
.item-weapons {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
.item-weapons._hide {
  opacity: 0;
  visibility: hidden;
}
.item-weapons__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.125rem;
}
.item-weapons__block {
  position: relative;
  margin: 0 auto;
}
@supports (width: clamp( 7.5625rem , 4.8125rem  +  8vw , 8.8125rem )) {
  .item-weapons__block {
    width: clamp( 7.5625rem , 4.8125rem  +  8vw , 8.8125rem );
  }
}
@supports not (width: clamp( 7.5625rem , 4.8125rem  +  8vw , 8.8125rem )) {
  .item-weapons__block {
    width: calc(7.5625rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 7.8125rem , 5.0625rem  +  8vw , 9.0625rem )) {
  .item-weapons__block {
    height: clamp( 7.8125rem , 5.0625rem  +  8vw , 9.0625rem );
  }
}
@supports not (height: clamp( 7.8125rem , 5.0625rem  +  8vw , 9.0625rem )) {
  .item-weapons__block {
    height: calc(7.8125rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.item-weapons__board {
  height: 100%;
}
.item-weapons__board img {
  max-width: 100%;
}
.item-weapons__weapon {
  position: absolute;
  width: 60%;
  height: 55%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-weapons__weapon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.3125rem;
  left: 0;
  object-fit: contain;
}
.item-weapons__button-box {
  position: absolute;
  width: 100%;
  left: 52%;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}
@supports (height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .item-weapons__button-box {
    height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem );
  }
}
@supports not (height: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .item-weapons__button-box {
    height: calc(1.5625rem + 0.9375 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (bottom: clamp( -0.9375rem , 1.0625rem  +  -4vw , -0.3125rem )) {
  .item-weapons__button-box {
    bottom: clamp( -0.9375rem , 1.0625rem  +  -4vw , -0.3125rem );
  }
}
@supports not (bottom: clamp( -0.9375rem , 1.0625rem  +  -4vw , -0.3125rem )) {
  .item-weapons__button-box {
    bottom: calc(-0.3125rem + -0.625 * (100vw - 34.375rem) / 15.625);
  }
}
.item-weapons__button-box:active {
  transform: translateX(-50%) scale(0.95);
}
.item-weapons__button-box._hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.item-weapons__button-image img {
  max-width: 100%;
}
.item-weapons__button-price-box {
  position: absolute;
  top: 0.75rem;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3125rem;
}
@supports (max-width: clamp( 1.25rem , -0.125rem  +  4vw , 1.875rem )) {
  .item-weapons__button-price-box img {
    max-width: clamp( 1.25rem , -0.125rem  +  4vw , 1.875rem );
  }
}
@supports not (max-width: clamp( 1.25rem , -0.125rem  +  4vw , 1.875rem )) {
  .item-weapons__button-price-box img {
    max-width: calc(1.25rem + 0.625 * (100vw - 34.375rem) / 15.625);
  }
}
.game__body {
  padding: 1.25rem 0.9375rem;
  min-height: 100vh;
  position: relative;
}
.game__button-box {
  position: absolute;
  top: 1.25rem;
  left: 0.9375rem;
  z-index: 2;
}
@supports (width: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .game__button-box {
    width: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem );
  }
}
@supports not (width: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .game__button-box {
    width: calc(2.875rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .game__button-box {
    height: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem );
  }
}
@supports not (height: clamp( 2.875rem , 0.125rem  +  8vw , 4.125rem )) {
  .game__button-box {
    height: calc(2.875rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.game__block-info {
  position: absolute;
  bottom: 5.3125rem;
  right: 0.9375rem;
  z-index: 2;
}
.game__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.game__bg_1 {
  top: 0;
}
@supports (height: clamp( 1.875rem , -0.875rem  +  8vw , 3.125rem )) {
  .game__bg_1 {
    height: clamp( 1.875rem , -0.875rem  +  8vw , 3.125rem );
  }
}
@supports not (height: clamp( 1.875rem , -0.875rem  +  8vw , 3.125rem )) {
  .game__bg_1 {
    height: calc(1.875rem + 1.25 * (100vw - 34.375rem) / 15.625);
  }
}
.game__bg_2 {
  bottom: 0;
}
@supports (height: clamp( 2.8125rem , -0.625rem  +  10vw , 4.375rem )) {
  .game__bg_2 {
    height: clamp( 2.8125rem , -0.625rem  +  10vw , 4.375rem );
  }
}
@supports not (height: clamp( 2.8125rem , -0.625rem  +  10vw , 4.375rem )) {
  .game__bg_2 {
    height: calc(2.8125rem + 1.5625 * (100vw - 34.375rem) / 15.625);
  }
}
.game__button-start-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__button-start-box._start {
  background-color: rgba(0, 0, 0, 0.01);
  z-index: -1;
  transition: all 0.5s ease 0.5s;
}
.game__button-start-box._start .game__button-start {
  animation: scale 0.5s ease forwards;
}
.game__button-start {
  position: relative;
}
.game__button-start._anim {
  animation: rotate 5s ease infinite;
}
.game__button-start p {
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: #fff;
}
@supports (font-size: clamp( 1.25rem , 0.15rem  +  3.2vw , 1.75rem )) {
  .game__button-start p {
    font-size: clamp( 1.25rem , 0.15rem  +  3.2vw , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.15rem  +  3.2vw , 1.75rem )) {
  .game__button-start p {
    font-size: calc(1.25rem + 0.5 * (100vw - 34.375rem) / 15.625);
  }
}

.info-game__body {
  display: flex;
  flex-direction: column;
  row-gap: 0.4375rem;
}
.info-game__level {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (height: clamp( 1.875rem , 0.8173076923rem  +  3.0769230769vw , 3.125rem )) {
  .info-game__level {
    height: clamp( 1.875rem , 0.8173076923rem  +  3.0769230769vw , 3.125rem );
  }
}
@supports not (height: clamp( 1.875rem , 0.8173076923rem  +  3.0769230769vw , 3.125rem )) {
  .info-game__level {
    height: calc(1.875rem + 1.25 * (100vw - 34.375rem) / 40.625);
  }
}
.info-game__level p {
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #ffffff;
}
.field__enemys {
  position: absolute;
  top: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  z-index: 2;
}
@media (min-height: 37.5em) {
  .field__enemys {
    top: 9.375rem;
  }
}
.field__enemy-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
@media (min-height: 37.5em) {
  .field__enemy-box {
    row-gap: 1.25rem;
  }
}
.field__enemy-energy {
  width: 100%;
}
.field__evil {
  position: relative;
}
@supports (width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem )) {
  .field__evil {
    width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem );
  }
}
@supports not (width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem )) {
  .field__evil {
    width: calc(6.25rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 6.875rem , 2.75rem  +  12vw , 8.75rem )) {
  .field__evil {
    height: clamp( 6.875rem , 2.75rem  +  12vw , 8.75rem );
  }
}
@supports not (height: clamp( 6.875rem , 2.75rem  +  12vw , 8.75rem )) {
  .field__evil {
    height: calc(6.875rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (width: clamp( 10.625rem , 6.875rem  +  7.5vw , 12.5rem )) {
    .field__evil {
      width: clamp( 10.625rem , 6.875rem  +  7.5vw , 12.5rem );
    }
  }
  @supports not (width: clamp( 10.625rem , 6.875rem  +  7.5vw , 12.5rem )) {
    .field__evil {
      width: calc(10.625rem + 1.875 * (100vw - 50rem) / 25);
    }
  }
  @supports (height: clamp( 11.25rem , 7.5rem  +  7.5vw , 13.125rem )) {
    .field__evil {
      height: clamp( 11.25rem , 7.5rem  +  7.5vw , 13.125rem );
    }
  }
  @supports not (height: clamp( 11.25rem , 7.5rem  +  7.5vw , 13.125rem )) {
    .field__evil {
      height: calc(11.25rem + 1.875 * (100vw - 50rem) / 25);
    }
  }
}
.field__evil._enemy-1 {
  animation: enemy-1 2s ease forwards;
}
.field__evil._enemy-2 {
  animation: enemy-2 2s ease forwards;
}
.field__evil._enemy-3 {
  animation: enemy-3 2s ease forwards;
}
.field__evil._enemy-4 {
  animation: enemy-4 2s ease forwards;
}
.field__evil._enemy-5 {
  animation: enemy-5 2s ease forwards;
}
.field__evil._enemy-6 {
  animation: enemy-6 2s ease forwards;
}
.field__box {
  min-height: 100%;
}
.field__box img {
  width: 100%;
}
.field__image {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.field__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.field__heroes {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  z-index: 2;
}
@media (min-height: 37.5em) {
  .field__heroes {
    bottom: 9.375rem;
  }
}
.field__heroe {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
@supports (width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem )) {
  .field__heroe {
    width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem );
  }
}
@supports not (width: clamp( 6.25rem , 2.125rem  +  12vw , 8.125rem )) {
  .field__heroe {
    width: calc(6.25rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 6.875rem , 2.75rem  +  12vw , 8.75rem )) {
  .field__heroe {
    height: clamp( 6.875rem , 2.75rem  +  12vw , 8.75rem );
  }
}
@supports not (height: clamp( 6.875rem , 2.75rem  +  12vw , 8.75rem )) {
  .field__heroe {
    height: calc(6.875rem + 1.875 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (width: clamp( 10.625rem , 6.875rem  +  7.5vw , 12.5rem )) {
    .field__heroe {
      width: clamp( 10.625rem , 6.875rem  +  7.5vw , 12.5rem );
    }
  }
  @supports not (width: clamp( 10.625rem , 6.875rem  +  7.5vw , 12.5rem )) {
    .field__heroe {
      width: calc(10.625rem + 1.875 * (100vw - 50rem) / 25);
    }
  }
  @supports (height: clamp( 11.25rem , 7.5rem  +  7.5vw , 13.125rem )) {
    .field__heroe {
      height: clamp( 11.25rem , 7.5rem  +  7.5vw , 13.125rem );
    }
  }
  @supports not (height: clamp( 11.25rem , 7.5rem  +  7.5vw , 13.125rem )) {
    .field__heroe {
      height: calc(11.25rem + 1.875 * (100vw - 50rem) / 25);
    }
  }
}
@media (min-height: 37.5em) {
  .field__heroe {
    row-gap: 1.5625rem;
  }
}
.field__heroe-inner {
  position: relative;
}
.field__heroe-inner._moove-1 {
  animation: moove-1 2s ease forwards;
}
.field__heroe-inner._moove-2 {
  animation: moove-2 2s ease forwards;
}
.field__heroe-inner._moove-3 {
  animation: moove-3 2s ease forwards;
}
.field__heroe-inner._moove-4 {
  animation: moove-4 2s ease forwards;
}
.field__heroe-inner._moove-5 {
  animation: moove-5 2s ease forwards;
}
.field__heroe-inner._moove-6 {
  animation: moove-6 2s ease forwards;
}
.field__card-hero {
  min-height: 100%;
}
.field__card-hero img {
  width: 100%;
}
.field__man {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.field__man img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.field__weapon-item {
  position: absolute;
  bottom: 0;
  right: 0;
}
@supports (width: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .field__weapon-item {
    width: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem );
  }
}
@supports not (width: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .field__weapon-item {
    width: calc(2.8125rem + 1 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .field__weapon-item {
    height: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem );
  }
}
@supports not (height: clamp( 2.8125rem , 0.6125rem  +  6.4vw , 3.8125rem )) {
  .field__weapon-item {
    height: calc(2.8125rem + 1 * (100vw - 34.375rem) / 15.625);
  }
}
.field__weapon-image {
  height: 100%;
}
.field__weapon-image img {
  max-width: 100%;
}
.field__sword {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 75%;
  transform: translate(-50%, -50%);
}
.field__sword img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.field__hero-energy {
  width: 100%;
  height: 0.5625rem !important;
}

.health {
  height: 0.5625rem;
  position: relative;
}
.health__energy {
  background: linear-gradient(90deg, #64ff1c -2.62%, #589a16 113.37%);
  border-radius: 0.6875rem;
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  transform: translateY(-50%);
  z-index: 2;
}
.health span:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #213809;
  border-radius: 0.6875rem;
}

@keyframes no-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes delete-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 155, 155);
    transform: translateY(3px);
  }
}
@keyframes add-money {
  100% {
    color: yellow;
    transform: translateY(-3px);
  }
}
@keyframes show_item_y {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes show_item_x {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes jump_icon {
  0%, 69% {
    transform: translate(0, 0);
  }
  77% {
    transform: translate(0, -10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  82% {
    transform: translate(0px, -6px);
  }
  85% {
    transform: translate(0px, 0px);
  }
  87% {
    transform: translate(0px, -2px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes scale_icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes rotate_icon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes fly_button {
  0%, 40% {
    transform: translateX(200px);
    opacity: 0;
    z-index: 1;
  }
  60% {
    transform: translateX(-200px);
    z-index: 1;
    opacity: 1;
  }
  80% {
    transform: translateX(100px);
    z-index: 2;
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    z-index: 2;
    opacity: 1;
  }
}
@keyframes scale_button {
  0% {
    transform: translateX(-50%) scale(1);
  }
  100% {
    transform: translateX(-50%) scale(1.1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rotate {
  0%, 100% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
}
@keyframes moove-1 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  80% {
    transform: translate(-40px, -70px) scale(1);
  }
  90% {
    transform: translate(0px, -100px) scale(1.05);
  }
  100% {
    transform: translate(0px, -95px) scale(1);
  }
}
@keyframes moove-2 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  80% {
    transform: translate(40px, -70px) scale(1);
  }
  90% {
    transform: translate(0px, -100px) scale(1.05);
  }
  100% {
    transform: translate(0px, -95px) scale(1);
  }
}
@keyframes moove-3 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  80% {
    transform: translate(-20px, -70px) rotate(-15deg) scale(1);
  }
  90% {
    transform: translate(5px, -100px) rotate(10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, -95px) rotate(0deg) scale(1);
  }
}
@keyframes moove-4 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  80% {
    transform: translate(20px, -70px) rotate(15deg) scale(1);
  }
  90% {
    transform: translate(-5px, -100px) rotate(-10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, -95px) rotate(0deg) scale(1);
  }
}
@keyframes moove-5 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  70% {
    transform: translate(-20px, -50px) rotate(10deg) scale(1);
  }
  90% {
    transform: translate(5px, -100px) rotate(-10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, -95px) rotate(0deg) scale(1);
  }
}
@keyframes moove-6 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  70% {
    transform: translate(20px, -70px) rotate(-10deg) scale(1);
  }
  90% {
    transform: translate(-5px, -100px) rotate(10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, -95px) rotate(0deg) scale(1);
  }
}
@keyframes enemy-1 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  80% {
    transform: translate(-40px, 70px) scale(1);
  }
  90% {
    transform: translate(0px, 100px) scale(1.05);
  }
  100% {
    transform: translate(0px, 95px) scale(1);
  }
}
@keyframes enemy-2 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  80% {
    transform: translate(40px, 70px) scale(1);
  }
  90% {
    transform: translate(0px, 100px) scale(1.05);
  }
  100% {
    transform: translate(0px, 95px) scale(1);
  }
}
@keyframes enemy-3 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  80% {
    transform: translate(-20px, 70px) rotate(-15deg) scale(1);
  }
  90% {
    transform: translate(5px, 100px) rotate(10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, 95px) rotate(0deg) scale(1);
  }
}
@keyframes enemy-4 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  80% {
    transform: translate(20px, 70px) rotate(15deg) scale(1);
  }
  90% {
    transform: translate(-5px, 100px) rotate(-10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, 95px) rotate(0deg) scale(1);
  }
}
@keyframes enemy-5 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  70% {
    transform: translate(-20px, 50px) rotate(10deg) scale(1);
  }
  90% {
    transform: translate(5px, 100px) rotate(-10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, 95px) rotate(0deg) scale(1);
  }
}
@keyframes enemy-6 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  70% {
    transform: translate(20px, 70px) rotate(-10deg) scale(1);
  }
  90% {
    transform: translate(-5px, 100px) rotate(10deg) scale(1.05);
  }
  100% {
    transform: translate(0px, 95px) rotate(0deg) scale(1);
  }
}
@keyframes rotate-arrow {
  0%, 80% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(-90deg);
  }
  90% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
